<h1>Name: <%= @pirate.name %> </h1>
	<p>Weight: <%= @pirate.weight %></p>
	<p>Height: <%= @pirate.height %></p>

<h2> Ship Name: <%= @ships[0].name %> </h2>
	<p>Type: <%= @ships[0].type %></p>
	<p>Booty: <%= @ships[0].booty %></p>


<h2> Ship Name: <%= @ships[1].name %> </h2>
	<p>Type: <%= @ships[1].type %></p>
	<p>Booty: <%= @ships[1].booty %></p>
